script(src=assetsPath+"libs.js")
script(src=assetsPath+"assets.js")
script(src=assetsPath+"components.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.2.1/iconify.min.js")

script.
    app.mount('#app')
