- titulo = 'Kitchen'
- subtitulo = 'Sink AVANZADA'
- assetsPath = '../lib/'
doctype html
html(lang="en" style="height:100%")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=titulo
    body(data="ASOMATE-MAT").bg-beige.h-full
        
        #app.mx-auto.h-full(v-cloak)
            av-scene
                av-start
            
            av-scene(:automatic-scene="false" :force-oks="0")
                av-info(title="Ok")
                av-activity
                    div.w-80.h-80.bg-gray-400.p-6.flex.justify-center.items-center
                        module-switch(class="" v-bind:button="true" button-icon="" v-bind:navigation="true" autoplay="0" v-bind:arrows="true")
                            div.text-9xl.m-2(data-z="lighten"): oda-icon(name="fxemoji:alien") 
                            div.text-5xl.m-2: oda-icon(name="fxemoji:cow") 
                            div.text-5xl.m-2: oda-icon(name="fxemoji:tiger") 
                            div.text-5xl.m-2: oda-icon(name="fxemoji:foxcrying") 
                    
                    
                    module-switch(class="" v-bind:button="true" button-icon="fxemoji:decreasefontsize" v-bind:navigation="false" autoplay="0")
                        span(data-z="false" class="text-5xl")  😃
                        span(data-z="darken" class="text-5xl"): oda-icon(name="fxemoji:alien") a 
                        span(data-z="darken" class="text-white 5xl drop-shadow-md") Hola



                    module-drag(v-bind:only-ok="false" v-bind:only-error="false" v-bind:allok="false" dropzone="drop1" answer="a" liner="0" connector="0" design="" class=" w-fit h-fit" :inmediate="true" :duplicate="true")
                        span(data-z="darken" class="text-5xl text-sec font-extrabold") ❌

                    module-dragclone(dropzone="drop1" answer="a" class=" w-fit h-fit")
                        span(data-z="hue-45" class="text-5xl text-sec font-extrabold") CLONE
                    module-drop(name="drop1" design="1" answer="a" limit="5" class=" w-40 h-40 bg-pastel4" v-bind:no-arrow="false")

            //av-scene(:automatic-scene="true" end-audio="audio.mp3" :force-oks="0")
                av-info(title="Ok")
                av-activity


                    module-switch(class="" v-bind:button="true" button-icon="fxemoji:decreasefontsize" v-bind:navigation="false" autoplay="0")
                        span(data-z="false" class="text-5xl")  😃
                        span(data-z="darken" class="text-5xl"): oda-icon(name="fxemoji:alien") a 
                        span(data-z="darken" class="text-white 5xl drop-shadow-md") Hola
                    
                    
                    span(data-z="fade" class="text-5xl text-teal-500") Fade
                    span(data-z="hue-45" class="text-5xl text-sec font-extrabold") HUE
                    span(data-z="hue-90" class="text-5xl text-main font-extrabold") HUE
                    span(data-z="hue-135" class="text-5xl text-accent font-extrabold") HUE
                    span(data-z="hue-180" class="text-5xl text-teal-500 font-extrabold") HUE

                    span(data-z="hue-animate" class="text-5xl text-teal-500") ¿ANIMATE! 😃
                    span(data-z="lighten" class="text-5xl text-teal-500") Aclarar
                    span(data-z="darken" class="text-5xl text-gray-300 font-extrabold") Oscurecer


                    module-drag(v-bind:only-ok="false" v-bind:only-error="false" v-bind:allok="false" dropzone="drop1" answer="a" liner="0" connector="0" design="" class=" w-fit h-fit" :inmediate="true")
                        div(data-z="darken"): div(class="bg-white p-3 rounded shadow-oda") DRAG! OK
                    module-drop(name="drop1" design="1" answer="a" limit="5" class=" w-3/4 h-80 bg-pastel4" v-bind:no-arrow="false" v-bind:horizontal="true" :key="2")


                    module-switch(class="" v-bind:button="true" button-icon="" v-bind:navigation="true" autoplay="1")
                        div(class="text-A") A
                        div(class="text-A") b
                        div(class="text-A") c
                        div(class="text-A") d
                        div(class="text-A") e
                    
                    
                    
                    //div.flex.items-center
                        module-drag(v-bind:only-ok="false" v-bind:only-error="false" v-bind:allok="false" dropzone="drop1" answer="a" liner="0" connector="0" design="" class=" w-fit h-fit" :inmediate="true")
                            div DRAG! OK
                        module-drop(name="drop1" design="1" answer="a" limit="5" class=" w-3/4 h-80 bg-pastel4" v-bind:no-arrow="false" v-bind:horizontal="true" :key="2")
                    //
                        action-timeline(ok="1")
                            module-drag(v-bind:only-ok="false" v-bind:only-error="false" v-bind:allok="false" dropzone="drop1" answer="a" liner="0" connector="0" design="" class=" w-fit h-fit" :inmediate="true")
                                div DRAG! OK
                                module-audio(audio="audio.mp3" :loop="true" :autoplay="true" :volume="0.2" :visible="true")
                            module-drop(name="drop1" design="1" answer="a" limit="5" class=" w-3/4 h-52 bg-pastel4" v-bind:no-arrow="false" v-bind:horizontal="true" :key="2")
                        action-timeline(show="1"autoplay)
                            module-select(:answer="true" :inmediate="true" class="text-xl") Click
                            action-timeline(ok="2")
                                module-select(:answer="true" :inmediate="true" class="text-xl") Click 2
                        action-timeline(show="2")
                            module-select(:answer="true" :inmediate="true" class="text-xl") Click 3
                            module-select(:answer="true" :inmediate="true" class="text-xl") Click 3
                            module-select(:answer="true" :inmediate="true" class="text-xl") Click 3

            //av-scene(:automatic-scene="true" :force-oks="3")
                av-info
                av-activity()
                    p ESCENA 2
                    module-drag(v-bind:only-ok="false" v-bind:only-error="false" v-bind:allok="false" dropzone="drop1" answer="a" liner="0" connector="0" design="" class=" w-fit h-fit" :inmediate="true") DRAG! OK
                    module-drag(v-bind:only-ok="false" v-bind:only-error="false" v-bind:allok="false" dropzone="drop1" answer="a" liner="0" connector="0" design="" class=" w-fit h-fit" :inmediate="true") DRAG! OK
                    module-drag(v-bind:only-ok="false" v-bind:only-error="false" v-bind:allok="false" dropzone="drop1" answer="a" liner="0" connector="0" design="" class=" w-fit h-fit" :inmediate="true") DRAG! OK
                    module-drag(v-bind:only-ok="false" v-bind:only-error="false" v-bind:allok="false" dropzone="drop1" answer="a" liner="0" connector="0" design="" class=" w-fit h-fit" :inmediate="true") DRAG! OK
                    module-drag(v-bind:only-ok="false" v-bind:only-error="false" v-bind:allok="false" dropzone="drop1" answer="" liner="0" connector="0" design="" class=" w-fit h-fit" :inmediate="true") DRAG! NO

                    module-drop(name="drop1" design="1" answer="a" limit="5" class=" w-3/4 h-52 bg-pastel4" v-bind:no-arrow="false" v-bind:horizontal="true" :key="2")
                    
                    //action-timeline(completed="1")
                        module-video(src="https://ucarecdn.com/98c620ec-b970-4ffa-b554-566b517e3cc6/" class="w-80" :autoplay="true")
                    //action-timeline(show="1")
                        av-button Continuar!
            //av-scene(:automatic-scene="true")
                av-info(title="Un paseo muy alto" interaction="video")
                    //

                        module-audiotext(:autoplay="false" text="Prueba" audio="https://ucarecdn.com/1c58281f-edd0-41b9-af6f-b6d2213f7bb8/" class="")
                        //-
                            action-timeline(show="0" completed="1")
                                module-audiotext( :autoplay="true" text="¿Cuál globo sube más alto? A cada globo le corresponde un número. Mira cómo la flecha traza el recorrido de cada uno." audio="audios/i1.mp3")
                            action-timeline(show="1")
                                module-audiotext(:autoplay="true" text="Prueba" audio="https://ucarecdn.com/1c58281f-edd0-41b9-af6f-b6d2213f7bb8/" class="")
                av-activity(class="bg-grey-100")
                    //
                        action-timeline(hide="1")
                            module-lottie(src="animations/globo.json" :autoplay="false"  class="w-2/3")
                        
                        action-timeline(show="1" completed="2")
                            module-lottie(src="animations/globo.json" autoplay="true" speed="5" :segment="[0, 1150]"  class="w-2/3" :loop="false" :debug="false" :audios="[{time:300, file: 'audios/au_uno.mp3'}, {time:400, file: 'audios/au_dos.mp3'}, {time:500, file: 'audios/au_tres.mp3'}, {time:600, file: 'audios/au_cuatro.mp3'}, {time:700, file: 'audios/au_cinco.mp3'}, {time:800, file: 'audios/au_seis.mp3'}]")

                        action-timeline(show="2" completed="3")
                            module-audiotext(text="¿Cuál globo subió más alto?" audio="audios/i3.mp3" class="flex"  :autoplay="true")
                        
                        action-timeline(show="3" hide="4")
                            action-timeline(completed="4")
                                action-delay(time="2" class="p-1 bg-white rounded")

                        action-timeline(show="4")
                            module-audiotext(text="Así es! El globo que subió más alto fue el número tres. ¡Buen trabajo!" audio="audios/i4.mp3" class="text-4xl text-main"  :autoplay="true")
                    
                    layout-grid()
                        action-timeline(completed-audio="s_ok" error-audio="s_vi_hombre" ok-audio="s_bh_mujer"  ok="1" hide="1")
                            module-check(module-check float="" v-bind:options="['fxemoji:crossmark']" v-bind:answer="1" v-bind:allok="false" v-bind:useclass="false" class="" :inmediate="true") Check
                        //-
                            action-timeline(completed-audio="s_ok" error-audio="s_error" ok-audio="s_bh_mujer")
                                module-check(module-check float="" v-bind:options="['fxemoji:crossmark']" v-bind:answer="0" v-bind:allok="false" v-bind:useclass="false" class="" :inmediate="true") Check
                            action-timeline(completed-audio="s_ok" error-audio="" ok-audio="s_bh_mujer")
                                module-check(module-check float="" v-bind:options="['fxemoji:crossmark', 'fxemoji:alien']" v-bind:answer="2" v-bind:allok="false" v-bind:useclass="false" class="" :inmediate="true") Check
                            action-timeline(completed-audio="s_ok" error-audio="" ok-audio="s_bh_mujer")
                                module-select(:answer="true" :inmediate="true" class="text-xl") Click
                            action-timeline(completed-audio="s_ok" error-audio="s_vi_hombre" ok-audio="s_bh_mujer")
                                module-select(:answer="false" :inmediate="true" class="text-xl") Click
                            action-timeline(completed-audio="s_ok" error-audio="s_vi_hombre" ok-audio="s_bh_mujer")
                                av-button(nextscene="false" nexttimeline="false" emit-error="true") Eror
                        //-
                            module-select(:answer="true" :inmediate="true" class="text-xl") Click
                            module-select(:answer="true" :inmediate="true" class="text-xl") Click
                            module-select(:answer="true" :inmediate="true" class="text-xl") Click
                            module-select(:answer="true" :inmediate="true" class="text-xl") Click
                            module-select(:answer="true" :inmediate="true" class="text-xl") Click
                            module-select(answer="false" :inmediate="true" class="text-xl") Click no
            //av-scene(:automatic-scene="true")
                av-info(title="Un paseo muy alto" interaction="video")
                    module-audiotext( :autoplay="false" text="¿Cuál globo sube más alto? A cada globo le corresponde un número. Mira cómo la flecha traza el recorrido de cada uno." audio="audios/i1.mp3")
                av-activity
                    module-select(:answer="true" :inmediate="true" class="text-xl") Click
                    module-select(:answer="true" :inmediate="true" class="text-xl") Click
            av-scene
                av-end


        script(src=assetsPath+"loader.js" data="local" data-loader-version="v1.1.0")
