- titulo = 'Kitchen'
- subtitulo = 'Sink AVANZADA'
- assetsPath = '../lib/'
doctype html
html(lang="en" style="height:100%")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=titulo
    body(data="ASOMATE-MAT").bg-beige.h-full
        #app.mx-auto.h-full(v-cloak)
            av-scene
                av-start
            
            av-scene
                av-info(title="Un paseo muy alto" interaction="video")
                    action-timeline(show="0" completed="1")
                        module-audiotext( :autoplay="true" text="¿Cuál globo sube más alto? A cada globo le corresponde un número. Mira cómo la flecha traza el recorrido de cada uno." audio="audios/i1.mp3")
                    action-timeline(show="1")
                        module-audiotext(text="Muy bien, ¡comencemos!..." audio="audios/i2.mp3" :autoplay="true" )
                av-activity(class="bg-grey-100")
                    action-timeline(hide="1")
                        module-lottie(src="animations/globo.json" :autoplay="false"  class="w-2/3")
                    
                    action-timeline(show="1" completed="2")
                        module-lottie(src="animations/globo.json" autoplay="true" speed="5" :segment="[0, 1150]"  class="w-2/3" :loop="false" :debug="false" :audios="[{time:300, file: 'audios/au_uno.mp3'}, {time:400, file: 'audios/au_dos.mp3'}, {time:500, file: 'audios/au_tres.mp3'}, {time:600, file: 'audios/au_cuatro.mp3'}, {time:700, file: 'audios/au_cinco.mp3'}, {time:800, file: 'audios/au_seis.mp3'}]")

                    action-timeline(show="2" completed="3")
                        module-audiotext(text="¿Cuál globo subió más alto?" audio="audios/i3.mp3" class="flex"  :autoplay="true")
                    
                    action-timeline(show="3" hide="4")
                        action-timeline(completed="4")
                            action-delay(time="2" class="p-1 bg-white rounded")

                    av-button(nextscene="true" nexttimeline="false") Siguiente
                    action-timeline(show="4")
                        module-audiotext(text="Así es! El globo que subió más alto fue el número tres. ¡Buen trabajo!" audio="audios/i4.mp3" class="text-4xl text-main"  :autoplay="true")
                    
                    layout-grid()
                        module-select(:answer="true" :inmediate="true" class="text-xl") Click
                        module-select(:answer="true" :inmediate="true" class="text-xl") Click
                        module-select(:answer="true" :inmediate="true" class="text-xl") Click
                        module-select(:answer="true" :inmediate="true" class="text-xl") Click
                        module-select(:answer="true" :inmediate="true" class="text-xl") Click
                        module-select(:answer="true" :inmediate="true" class="text-xl") Click
                        module-select(answer="false" :inmediate="true" class="text-xl") Click no
            av-scene
                av-info(title="Un paseo muy alto" interaction="video")
                    module-audiotext( :autoplay="false" text="¿Cuál globo sube más alto? A cada globo le corresponde un número. Mira cómo la flecha traza el recorrido de cada uno." audio="audios/i1.mp3")
                av-activity
                    module-select(:answer="true" :inmediate="true" class="text-xl") Click
                    module-select(:answer="true" :inmediate="true" class="text-xl") Click
            av-scene
                av-end


        script(src=assetsPath+"loader.js" data="local" data-loader-version="v1.1.0")
