- titulo = 'Título'
- subtitulo = 'sub...title'
- assetsPath = '../assets/'
doctype html
html(lang="en")
    head
        include ../assets/libs/pug/_head
        title=titulo
    body 
        //#app.container.mx-auto.my-5.animate__animated.animate__fadeIn.animate__delay-1s
        #app.container.mx-auto.my-5
            
            oda-titulo(title=titulo subtitle=subtitulo)
            oda-instruccion Selecciona así fxemoji:crossmark las situaciones que son <strong class=text-main>justas</strong>.
            
            //layout-grid(columns="4" columns-md="3")
            layout-grid(columns="2" columns-md="2" gap="10" class="p-5")
                //layout-box(design="simple")
                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis sint, labore aperiam vel eos doloremque est quis animi consectetur unde eveniet sed nulla odio consequatur, asperiores ipsam! Quo, fugit aspernatur!
                layout-box(class="bg-gray-100" design="simple")
                    module-check(:answer="1" :icons-list="['fxemoji:crossmark', 'fxemoji:heavycheckmark']")
                        | Correcta
                layout-box(class="bg-gray-100" design="simple")
                    module-check(:answer="1" :icons-list="['fxemoji:crossmark']")
                        | Incorrecta
            
            oda-finalizar
        include ../assets/libs/pug/_scripts
        